[build]
  publish = "."

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"

# Pretty URLs
[[redirects]]
  from = "/articles/*"
  to = "/articles/:splat.html"
  status = 200
  conditions = {Path = ["!/articles/*.html"]}
